<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script text="text/javascript" src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
<div id="app">
    
    <ul>
        <!-- <li v-for="task, i in tasks" v-show="!task.done">{{task.text}} <i @click="deleteTask(i)" class="fa-solid fa-x"></i></li> -->
        <!-- <li v-for="task, i in tasks" v-show="task.done"><del>{{task.text}}</del><i @click="deleteTask(i)" class="fa-solid fa-x"></i></li> -->
        <li v-for="task, i in tasks" >
            <!-- <span v-show="!task.done">{{task.text}} <i @click="deleteTask(i)" class="fa-solid fa-x"></i></span> -->
            <!-- <span v-show="task.done"><del>{{task.text}}</del> <i @click="deleteTask(i)" class="fa-solid fa-x"></i></span> -->  
            <span :class="task.done  ? 'underline-text' :''">{{task.text}} </span>
            <i @click="deleteTask(i)" class="fa-solid fa-x"></i>
        </li>



    </ul>
    <div>
        <input v-model.trim="newTask.text" type="text">
        <button @click="saveNewTask()">Aggiungi</button>
    </div>
</div>
    
</body>
</html>